<div class="restaurants">
  <h1><%= @restaurant.name %></h1>

  <%= render partial: "restaurants/button_list" %>

  <section class="row restaurant">
    <div class="col-sm-4">
      <%= cl_image_tag(restaurant_photo_url(@restaurant), width: 300, height: 200, crop: :fill, class: "picture") %>
    </div>
    <div class="col-sm-8">
      <p>Addresse: <%= @restaurant.city %></p>
      <p>Propriétaire: <%= @restaurant.user.email %></p>

      <div class="comments">
        <%= render partial: "restaurants/comments_header", locals: { restaurant: @restaurant } %>

        <%- @restaurant.comments.each do |comment| %>
          <%= render partial: "comments/show", locals: { comment: comment } %>
        <% end %>
      </div>

      <div class="comment-instruction">
        <% if user_signed_in? %>
          <h4>Ajoutez votre commentaire :</h4>
          <%= render partial: "comments/form", locals: { restaurant: @restaurant, comment: @new_comment } %>
        <% else %>
          <p>Vous devez être connecté.e pour laisser un commentaire.</p>
        <% end %>
      </div>
    </div>
  </section>
</div>
